
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; padding: 50px 0">
    <div class="container">
        <h3>About</h3>
        <p>
            In an effort to create a platform that brings together all the doctors together,
            we have created this forum together, where everyone can share all information about
            the medical industry with everyone else, Developing a healthy community, inspired 
            by today's modern life, where every user uses the internet as an important thing to help
            us more easily connect with each other.
            Because of a future without germs
        </p>
    </div>
</div>

